<template>
  <div class="home" style="background-color: #1d2a80;">
    <ListaProdotti />
    <Scontrino />
  </div>
</template>

<script>
// @ is an alias to /src
import ListaProdotti from "@/components/ListaProdotti";
import Scontrino from "@/components/Scontrino";

export default {
  name: "home",
  components: {
    ListaProdotti,
    Scontrino
  }
};
</script>
