<template>
  <div id="ListaProdotti" class="container">
    <b-row class="mt-3">
      <b-col cols="3" v-for="elemento of lista" :key="elemento.id">
        <b-card
          img-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRixJ6a_gIqYseqm_U_ihsoUJ7bqu02IajtRdUTAwP8zE-5Jc1dGA"
          title
          img-alt="Image"
          img-top
          tag="article"
          style="height: 90%"
          class="mb-1 mt-1"
        >
          <b-card-text>
            <b>{{elemento.name}}</b>
            <br />
            € {{elemento.price}}
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ListaProdotti",
  data() {
    return {
      lista: {}
    };
  },
  created() {
    this.$http
      .get(
        "https://my-json-server.typicode.com/marcopaoletti/db_junior_frontend/products"
      )
      .then(response => {
        this.lista = response.data;
      })
      .catch(e => {
        console.log(e);
      });
  }
};
</script>