<template>
  <div id="scontrino" style="margin-left: 29%">
    <table style="width:50%; border: 1px solid black; background-color: white;">
      <tr v-for="nome of lista" :key="nome.id" style="border: 1px solid black">
        <td>
          <b>{{nome.name}}</b>
        </td>
        <td>{{nome.price}}</td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: "Scontrino",
  data() {
    return {
      lista: {}
    };
  },
  created() {
    this.$http
      .get(
        "https://my-json-server.typicode.com/marcopaoletti/db_junior_frontend/products"
      )
      .then(response => {
        this.lista = response.data;
      })
      .catch(e => {
        console.log(e);
      });
  }
};
</script>

<style lang="">
</style>