<template>
  <div id="app" style="background-color: #1d2a80;">
    <div class="container" style="text-align: center">
      <p
        style="font-size: 125%; margin-top: 2%; color: yellow; font-family: 'Times New Roman', Times, serif;"
      >Benvenuto</p>
    </div>
    <router-view />
  </div>
</template>